body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #e8edf9;
}
.titulos {
    color: #000000;
    -webkit-text-stroke: 0.1px rgb(0, 0, 0) ;
    margin-left: 200px;
    font-size: 35px;
}
#inicio {
    text-align: center;
} 

#alunos {
    font-size: 25px;
    text-align: center;
}

.textos {
      color: black;
      font-size: 20px;
      margin-left: 200px;
      margin-right: 200px;
}

#img1 {
    display: block;
  margin: 0 auto;
  border-radius: 25px;
}

#img2 {
display: block; 
  margin: 0 auto;
  border-radius: 25px;
}
#img3 {
display: block;
  margin: 0 auto;
  border-radius: 25px;
}

.ta {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

#tabela {
    border: 2px solid white;
    margin-left: 200px;
    margin-right: 200px;
}
tr:hover {
    background-color: #8ca8e4;
}

b {
  font-weight: bold;
}

.topicos {
    margin-left: 200px;
    color: #8ca8e4;
}
.topicos :hover {
    color: rgb(255, 255, 255);
}
.topicos:active {
    color:rgb(0, 0, 0);
}

#comeco {
    margin-left: 200px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}


.referencia {
    color: white;
}

a:hover {
    color: black;
}

#grupo1 {
    border-style: solid;
    border-width: medium;
    border-color: #8ca8e4;
    background-color:#8ca8e4 ;
}

#partecima1 {
     border-style: solid;
    border-width: medium;
    border-color: #8ca8e4;
    background-color:#8ca8e4 ;
}

#titulo1 {
    color: rgb(43, 65, 171)
}
 #titulo2 {
     color: rgb(43, 65, 171) 
}
#titulo3 {
     color: rgb(43, 65, 171)
}
#titulo4 {
     color: rgb(43, 65, 171)
}
